<div class="row mt-5">
  <!-- <div class="col-md-4">
    <ul class="list-group">
      <li routerLink="inactive" class="list-group-item">In-Active User</li>
      <li routerLink="active" class="list-group-item">Active User</li>
    </ul>
  </div> -->
   <div class="col-md-4 custom-list">
  <ul class="list-group">
    <li routerLink="inactive"
      class="list-group-item category-item"  >
    In-Active User
    </li>
        <li routerLink="active" 
      class="list-group-item category-item"  >
    Active User
    </li>
  </ul>
</div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>
